<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} - echevarria.io</title>
  <base href="{{ base_href }}">
  <link rel="stylesheet" type="text/css" href="css/default.css">
  <link href="https://www.echevarria.io/rss.xml" rel="alternate" type="application/rss+xml" title="echevarria.io">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="echevarria.io">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ title }}">
  <meta property="og:type" content="blog">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:creator" content="@ivn_echvrria">
  {%- if image %}
  <meta property="og:image" content="{{ image }}">
  <meta name="twitter:card" content="summary_large_image">
  {%- endif %}
</head>
<body>
  <div class="wrapper" id="main-wrapper">
    <div class="nav">
      {%- if page and page == "home" %}
      <b class="home">Ivan Echevarria</b>
      {%- else %}
      <a class="home" href="index.html">Ivan Echevarria</a>
      {%- endif %}
      <div class="spacer"></div>
      <a href="photos/index.html">photos</a>
      {%- if page and page == "blog_list" %}
      <a style="color: #f00;">writing</a>
      {%- else %}
      <a href="blog/index.html">writing</a>
      {%- endif %}
      {%- if page and page == "book_list" %}
      <a style="color: #f00;">reading</a>
      {%- else %}
      <a href="reading/index.html">reading</a>
      {%- endif %}
      <a href="code/index.html">projects</a>
      <a href="about.html">about</a>
    </div>
    <div class="content">
      {%- filter indent(6) %}
      {%- block content %}
      {%- endblock %}
      {%- endfilter %}
    </div>
  </div>
  <script data-goatcounter="https://ivan.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
