{% extends "base.html" %}
{%- block content %}

<img src="img/home/arizona.jpg" alt="Arizona">
<br>
<br>
<h4>news:</h4>
<br>
<p>
I'm a few months into <a href="https://bradfieldcs.com/">Bradfield School of Computer Science</a>'s <a href="https://bradfieldcs.com/csi/">Computer Science Intensive</a>. The courses at Bradfield are the best I've ever taken. If you're seeking mastery in computer science, this is the place for you.
</p>
<br>
<br>

<p><b>recent writing:</b></p>
<br>
<div class="post-list">
{%- for post in posts %}
  <a class="link" href="{{ post.url }}">{{ post.title }}</a>
  <div class="date">{{ post.date }}</div>
{%- endfor %}
<a style="margin-top: 0.5em" href="blog/index.html"><i>more ...</i></a>
</div>
<br>
<br>

<p><b>recent reading:</b></p>
<br>
<div class="book-list">
{%- for book in books %}
  <a class="link" href="{{ book.url }}">{{ book.title }}</a>
  <div class="author">{{ book.author }}</div>
  <div class="date">{{ book.date }}</div>
  <div class="rating">{{ book.rating * "<div class=\"star\"></div>" }}</div>
{%- endfor %}
<a style="margin-top: 0.5em" href="reading/index.html"><i>more ...</i></a>
</div>

{%- endblock %}
