{% extends "base.html" %}
{%- block content %}

<img src="img/home/arizona.jpg" alt="Arizona">
<br>
<br>
<p>
Hi, I'm Ivan. Welcome to my website! I write <a href="blog/index.html">blog posts</a> and <a href="reading/index.html">book reviews</a> here. You can find my contact information and a bit more about me on the <a href="about.html">about page</a>. I'm always happy to hear from readers, and I do my best to reply to every email I get.
</p>
<br>
<br>

<h4>greatest hits:</h4>
<br>
<ul>
  <li><a href="blog/flowers-make-a-nice-gift/index.html">Flowers make a nice gift</a> is a brief case for giving flowers as a gift that focuses on their impermanence as a benefit.</li>
  <li><a href="blog/lego-face-vae/index.html">Creating and morphing Lego faces with neural networks</a> is a project write-up that'll interest people who like Lego or generative models. The post has a lot of cool pictures – at least I think they're cool.</li>
  <li><a href="blog/how-to-get-pastel-colors-in-photos/index.html">How to get pastel colors in your photos</a> is a guide that shows photographers how to get a bright, pastel palette in their images.</li>
</ul>
<br>


<p><b>recent writing:</b></p>
<br>
<div class="post-list">
{%- for post in posts %}
  <a class="link" href="{{ post.url }}">{{ post.title }}</a>
  <div class="date">{{ post.date }}</div>
{%- endfor %}
<a style="margin-top: 0.5em" href="blog/index.html"><i>more ...</i></a>
</div>
<br>
<br>

<p><b>recent reading:</b></p>
<br>
<div class="book-list">
{%- for book in books %}
  <a class="link" href="{{ book.url }}">{{ book.title }}</a>
  <div class="author">{{ book.author }}</div>
  <div class="date">{{ book.date }}</div>
  <div class="rating">{{ book.rating * "<div class=\"star\"></div>" }}</div>
{%- endfor %}
<a style="margin-top: 0.5em" href="reading/index.html"><i>more ...</i></a>
</div>

{%- endblock %}
