{% extends "base.html" %}
{%- block content %}

<img src="img/home/arizona.jpg" alt="Arizona">
<br>
<br>

<h4>the hits:</h4>
<br>
<ul>
  <li><a href="blog/flowers-make-a-nice-gift/index.html">Flowers make a nice gift</a> is about the burden of owning things.</li>
  <li><a href="blog/lego-face-vae/index.html">Creating and morphing Lego faces with neural networks</a> is a project write-up with cool pictures.</li>
  <li><a href="blog/how-to-get-pastel-colors-in-photos/index.html">How to get pastel colors in your photos</a> is a guide that shows photographers how to get a bright, pastel palette in their images.</li>
</ul>
<br>


<p><b>recent writing:</b></p>
<br>
<div class="post-list">
{%- for post in posts %}
  <a class="link" href="{{ post.url }}">{{ post.title }}</a>
  <div class="date">{{ post.date }}</div>
{%- endfor %}
<a style="margin-top: 0.5em" href="blog/index.html"><i>more ...</i></a>
</div>
<br>
<br>

<p><b>recent reading:</b></p>
<br>
<div class="book-list">
{%- for book in books %}
  <a class="link" href="{{ book.url }}">{{ book.title }}</a>
  <div class="author">{{ book.author }}</div>
  <div class="date">{{ book.date }}</div>
  <div class="rating">{{ book.rating * "<div class=\"star\"></div>" }}</div>
{%- endfor %}
<a style="margin-top: 0.5em" href="reading/index.html"><i>more ...</i></a>
</div>

{%- endblock %}
